h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
	font-family: $font__titre__secondaire;
}

h1 {
	font-family: $font__titre;
	font-size: clamp(1rem, 5vw, 5rem);
}

h2 {
	font-size: clamp(.9rem, 4vw, 4rem);
}
h3 {
	font-size: clamp(.9rem, 34vw, 3rem);
}
h4 {
	font-size: clamp(.8rem, 3vw, 2rem);
}
h5 {
	font-size: clamp(.7rem, 3vw, 2rem);
}
h6 {
	font-size: clamp(.6rem, 2vw, 2rem);
}

.site-title {
	margin-left: 50px;
}

.site-title a {
	text-decoration: none;
}
.site-title a:hover {
	text-decoration: none;
	color: orangered;
}
.pub__titre {
	padding-left: 40px;
}