.site__banner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.site__title a {
  font-weight: 900;
  color: tomato;
  text-decoration: none;
  font-size: 7vmin;
  margin-left: 40px;
}
.site__description {
  margin-left: 20px;
  font-size: 2vmin;
}

.site__header {
  background-image: url(https://images.hdqwalls.com/download/among-trees-night-is-coming-ox-2048x1152.jpg);
  background-size: cover;
}
