.site__menu {
  position: relative;
}
.chk-burger {
  display: none;
  opacity: 0;
}

.chk-burger:checked ~ .burger {
  background-color: rgba($color: #000000, $alpha: 1);
  opacity: 1;
}

.chk-burger:checked ~ .menu__aside {
  transform: translateX(0);
}
.burger {
  position: absolute;
  width: 2rem;
  height: 2rem;
  top: 10px;
  left: 10px;
  transition: transform 0.5s;
  font-size: 2rem;
  color: #fff;
  padding-left: 2px;
  opacity: 1;
}

.fa-bars {
  padding: 0px;
}

.menu__aside {
  display: flex;
  position: absolute;
  width: 100vw;
  top: 70px;
  z-index: 20;
  margin-right: 2vmin;
  transform: translateX(-100vw);
  transition: transform 0.5s cubic-bezier(.07,.64,.32,.91);
  background-color: rgba($color: #000000, $alpha: 1);
  @media screen and (min-width: 700px) {
    position: static;
    transform: translateX(0);
    width: 100%;
  }

  .menu {
    list-style-type: none;
    padding: 0;
    width: 100%;
  }
  .menu-item {
    padding: .6vmin;
    width: 100%;
  }
  @media screen and (min-width: 700px) {
    .menu-item a{
      font-size: 2vmin;
    }
  }

  .menu-item:hover {
    background-color: rgba($color: white, $alpha: .3);
  }

  a {
    text-decoration: none;
    color: white;
    font-size: 3vmin;
  }
}
