.menu__evenement {

}

.menu__evenement .menu {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    list-style-type: none;
}

.menu__evenement .menu-item {
    flex: 0 1 200px;
    border: 1px solid white;
    border-radius: 3px;
    text-align: center;
    font-size: 3vmin;
}

.menu__evenement .menu-item:hover{
    background-color: rgba(255,255,255,0.2);
    color: black;
}

.menu__evenement .menu-item a {
    text-decoration: none;
    color: white;
}

.evenement__stage {
    background-color: rgba($color: tomato, $alpha: .5);
}

.evenement__porte {
    background-color: rgba($color: aquamarine, $alpha: .5);
}

.menu__accueil {
    background-color: rgba($color: lightblue, $alpha: .7);
}