
.menu__evenement .menu {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    list-style-type: none;
}

.menu__evenement .menu-item {
    position: relative;
    flex: 0 1 calc(90%/3);
    border: 1px solid white;
    border-radius: 3px;
    text-align: center;
    font-size: 3vmin;
    @media screen and (max-width: 900px) {
        flex: 0 1 90%;
        flex-direction: column;
        margin: 10px 0px;
    }
}

.menu__evenement .menu-item:hover{
    background-color: rgba(255,255,255,0.2);
    color: black;
}

.menu__evenement .menu-item a {
    text-decoration: none;
    color: white;
}

.evenement__stage {
    background-color: rgba($color: tomato, $alpha: .5);
}

.evenement__porte {
    background-color: rgba($color: aquamarine, $alpha: .5);
}

.menu__accueil {
    background-color: rgba($color: lightblue, $alpha: .7);
}

.menu__item__icone {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-image: url('https://s2.svgbox.net/hero-outline.svg?ic=chip');
}