// nav
.menu__principal {
  background-color: rgba($color: #000000, $alpha: .7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  padding: 1.2vmin;
  //ul
  .menu {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 0;
  }
  //li
  a {
    display: block;
    text-decoration: none;
    color: #fff;
    padding: 10px;
    font-size: 18px;
  }
  a:hover {
    background-color: #555;
  }
} // fin .menu__principal

/* transformation en CSS */
.menu-primaire-container a{
 text-decoration: underline;
 color: white;
}

.menu-primaire-container a:hover{
  text-decoration: underline;
  color: rgba($color: #ffff, $alpha: .5);
 }